<div class="section-1"></div>
<div class="section-2">
  <h2>FLIX CRIT</h2>
  <h3>All NETFLIX latest release's synopsis and reviews at one stop !!!</h3>
  <i class="fa-solid fa-angles-right"></i>
  <div class="content" *ngFor="let lang of langCategory">
    <h1>{{lang.language}}</h1>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let movie of lang.movies">
        <ng-template carouselSlide>
          <div class="item">
            <img width="80px" height="500px" [src]="movie.image" [alt]="movie.name" [title]="movie.name">
            <div class="title">{{ movie.name }}</div>
          </div>
        </ng-template>
      </ng-container>  
    </owl-carousel-o>
  </div>
</div>